.relacionados {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
  }
  
  .lista {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  @media (min-width: 600px) {
    .lista {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  