.topico {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
  }
  
  .titulo {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .subtitulo {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .descricao {
    font-size: 1em;
    margin-bottom: 20px;
  }
  
  .informacoes span {
    margin-right: 15px;
    font-size: 0.9em;
    color: #555;
  }
  