body {
  font-family: Arial, sans-serif;
  padding: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: black;
  color: white;
}

button {
  padding: 10px;
  margin: 5px;
}

div {
  margin: 10px 0;
}
