.feed {
    grid-column: 1 / -1;
  }
  
  .post {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .post img {
    width: 100%;
    height: auto;
  }
  
  .post-interaction {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  