.post {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
  }
  
  .post img {
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .post-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .post-content p {
    margin: 5px 0;
  }
  
  .post-interaction {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .post-comments h3 {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  